<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>どうぶつの森住民図鑑</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>
    <link rel='stylesheet' href='https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>

</head>
<style>
    body {
        font-family: "Comic Sans MS", "Chalkboard SE", sans-serif; /* 親しみやすいフォント */
        background-color: #f0f8ff; /* 柔らかい背景色 */
    }


    .tab-group {
        display: flex;
        justify-content: center;
        background-color: #bce2e8;
        border-radius: 12px; /* 角を丸く */
        padding: 8px;
        margin: 10px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 柔らかい影で奥行きを演出 */
    }

    .tab {
        flex-grow: 1;
        padding: 10px;
        list-style: none;
        border: solid 1px #ccc;
        text-align: center;
        cursor: pointer;
        background-color: #89CAA1; /* 明るい緑色 */
        border-radius: 8px;
        transition: all 0.2s ease-out;
    }

        .tab.is-active {
            background-color: #81c784; /* 強調された緑色 */
            color: #fff;
        }

    .panel {
        display: none;
        background-color: #ECEDCD;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 柔らかい影 */
        margin-top: 10px;
    }

        .panel.is-show {
            display: block;
        }

    .rounded-card {
        border-radius: 30px; /* カード全体の角を丸く */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 柔らかい影 */
        background-color: #f7e9c5; /* カードの背景色を合わせる */
    }

    .v-dialog {
        z-index: 1000; /* ポップアップが前面に表示されるようにする */
    }
</style>

<body>
    <!-- Vueで指定された"app"要素、この中でのみVueが有効 -->
    <div id="app">
        <v-app>
            <v-content>
                <v-container>
                    <v-row class="text-h3 mb-3 mt-3"
                           justify="center">
                        どうぶつの森住民図鑑
                    </v-row>
                    <div class="tab-panel">
                        <!--タブ-->
                        <ul class="tab-group">
                            <li class="tab tab-A is-active">住民登録</li>
                            <li class="tab tab-B">住民一覧</li>
                        </ul>
                        <!--タブを切り替えて表示するコンテンツ-->
                        <div class="panel-group">
                            <div class="panel tab-A is-show">
                                <v-row class="mb-3 mt-3"
                                       align="center"
                                       justify="center">
                                    <v-col cols="4">
                                        <v-select class="ml-6 mr-6"
                                                  v-model:value="Species"
                                                  :items="['アヒル', 'アリクイ', 'イヌ', 'ウサギ', 'ウマ', 'オウシ', 'オオカミ', 'カエル', 'カバ', 'カンガルー', 'クマ', 'コアラ','コグマ', 'ゴリラ','サイ', 'サル','シカ', 'ゾウ', 'タコ', 'ダチョウ', 'トラ', 'トリ', 'ニワトリ', 'ネコ', 'ネズミ', 'ハムスター', 'ヒツジ', 'ブタ', 'ペンギン', 'メウシ', 'ヤギ', 'ライオン', 'リス', 'ワシ', 'ワニ' ]"
                                                  label="この住人はなんのどうぶつ？"
                                                  placeholder="種族を入力…"
                                                  outlined>

                                        </v-select>
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field class="ml-6 mr-6"
                                                      v-model:value="Name"
                                                      label="この住人のお名前は？"
                                                      placeholder="名前を入力…"
                                                      outlined>
                                    </v-col>
                                    <v-col cols="6">

                                        <v-select class="ml-6 mr-6"
                                                  v-model:value="Personality"
                                                  :items="['ノーマル', 'ハツラツ', 'おとなっぽい', 'かっこつけ', 'のほほん', 'おっかない', 'アネゴ', 'ようき']"
                                                  label="この住人の性格は？"
                                                  placeholder="性格を入力…"
                                                  outlined>
                                        </v-select>

                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field class="ml-6 mr-6"
                                                      v-model:value="Imageurl"
                                                      label="この住民の写真を入れよう！"
                                                      placeholder="画像urlを入力…"
                                                      outlined>
                                    </v-col>
                                </v-row>
                                <v-row class="mb-3 mt-3"
                                       align="center"
                                       justify="center"
                                       style="flex-direction: column;">
                                    入力内容　種族: {{ Species }} 名前: {{ Name }} 性格: {{ Personality }}  写真： {{ Imageurl }}
                                    <v-btn v-on:click="addData"
                                           dark
                                           color="#3cb371"
                                           rounded>
                                        <v-icon start>
                                            mdi-pencil
                                        </v-icon>
                                        住人登録
                                    </v-btn>
                                </v-row>
                            </div>
                            <div class="panel tab-B">
                                <v-row class="mb-3 mt-3"
                                       justify="center">
                                    <!-- ここに固定のラベルを表示 -->

                                </v-row>
                                <v-row class="mb-3 mt-3"
                                       justify="center">
                                    <v-btn v-on:click="readData"
                                           dark
                                           rounded
                                           x-large
                                           color="#19C8B9">
                                        <v-icon start>
                                            mdi-clipboard-outline
                                        </v-icon>登録住民を表示
                                    </v-btn>
                                </v-row>
                                <v-row class="mb-3 mt-3"
                                       justify="center"
                                       v-for="data in dataList"
                                       align="center">
                                    <v-col cols="12" sm="6" md="6" lg="6">
                                        <v-col cols="12" md="6" class="resident-details">
                                            <div class="resident-text">
                                                <p>種族:{{ data.Species }}</p>
                                                <p>名前:{{ data.Name }}</p>
                                                <p>性格:{{ data.Personality }}</p>
                                            </div>
                                        </v-col>
                                        <v-col cols="6" md="3">
                                            <img v-bind:src="data.Imageurl" class="resident-image">
                                        </v-col>
                                        <v-col cols="6" md="3">
                                            <v-btn v-on:click="confirmDelete(data)"
                                                   rounded
                                                   color="#FFDA02"
                                                   dark
                                                   fab
                                                   class="mx-2">
                                                <v-icon start>
                                                    mdi-close-circle
                                                </v-icon>
                                            </v-btn>
                                        </v-col>
                                </v-row>
                              
                            
                                <v-dialog v-model="dialog" max-width="500">
                                    <v-card class="rounded-card">
                                        <v-card-title class="headline">本当に削除する？</v-card-title>
                                        <v-card-text>
                                            削除すると住民の情報はもとに戻せないよ！本当に削除して大丈夫？
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <template>
                                                <div class="text-center">
                                                    <v-btn rounded color="grey" text @click="dialog = false">やめる</v-btn>
                                                    <v-btn rounded color="red" text @click="confirmDeleteAction">削除する</v-btn>
                                                </div>
                                            </template>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                            </div>


                        </div>
                    </div>
    </div>





    <script src='
https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>

    <script src='
https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script>

    <script src='
https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js'></script>

    <script src="./script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tabs = document.querySelectorAll('.tab');
            const panels = document.querySelectorAll('.panel');

            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    // すべてのタブからis-activeクラスを外す
                    tabs.forEach(item => item.classList.remove('is-active'));
                    // クリックされたタブにis-activeクラスを追加
                    tab.classList.add('is-active');

                    // すべてのパネルを非表示にする
                    panels.forEach(panel => panel.classList.remove('is-show'));
                    // クリックされたタブに対応するパネルを表示する
                    const activePanel = document.querySelector(`.panel.${tab.classList[1]}`);
                    activePanel.classList.add('is-show');
                });
            });
        });
    </script>
</body>
</html>
